/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html{
  box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body{
    margin: 0%;
    padding: 0%;

    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

a{
  text-decoration: none;
  list-style-type: none;
  color: white;
}

h1{
    font-size: 36px;
    font-weight: 300;

    letter-spacing: 7.2px;
    margin: 0;
    text-align: center;
}

h2{
    font-size: 18px;
    font-weight: 700;

    margin: 0;
}

h3{
    font-size: 36px;
    font-weight: 300;

    margin: 10px 0;
}

/*------------------------------------------------------------------------------
   Général
------------------------------------------------------------------------------*/

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}

.header{
    background-color: #F26C25;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*---------------------------------------
                header
 ---------------------------------------*/

.header .wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 36px;
    font-size: 700;
}

/*---------------------------------------
                Nav
 ---------------------------------------*/
 
.menu{
    display: flex;
    gap: 40px;
    list-style: none;
}

.menu a:hover{
    text-decoration: underline;
}

/*---------------------------------------
                hero
 ---------------------------------------*/

 .hero{
    background-color: #EEEEEE;
    padding-top: 80px;
    padding-bottom: 80px;
}

.titre-section{
    background-color: #EEEEEE;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    margin-bottom: 60px;
    margin-top: 80px;
}

.transport{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.conteneur_transport{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

.transport p{
    margin-top: 5px;
}

.menu-social a{
    display: inline-block;
    height: 32px;
    width: 32px;
}

.footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-social{
    display: flex;
    list-style: none;
    gap: 20px;
}

.footer{
    background-color: black;
    color: white;
}

.facebook a:hover{
    background-color: #1877f2;
}

.twitter a:hover{
    background-color: #1da1f2;
}

.linkedin a:hover{
    background-color: #0a66c2;
}

.conteneur-transport-invisible{ 
    display: none;
}